<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean using the constructor with studentName -->
    <bean class="com.springcore.Student" name="student1">
        <constructor-arg value="Shivang Garg" />
        <property name="studentId" value="22344" />
        <property name="studentAddress" value="Gurgaon" />
    </bean>

</beans>